{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    {% include 'hi_hiApp/head.html' %}
    <title>HI-hi</title>
    <style>
        header{
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <!--Header Section-->
    <header>
         <div class="logo">
             <a href="{% url 'index' %}">
                 <img src="{% static 'img/swift+logo+2.+svg.svg' %} " alt="" srcset="">
             </a>
        </div>
        <nav class="navbar-sign-up">
            <ul class="nav-group">
                <li class="nav-item">
                    <a href="{% url 'index' %}" class="nav-link">Home</a>
                </li>
            <ul> 
        </nav>
    </header>
    <!--Main-->
    <form method="post">
    <main class="main sign-up">
        <div class="custom-control custom-checkbox text-red-600 text-center -mt-10 -mb-20">
            {% if form.errors %}
                <p class='' >
                    {{form.errors}}  
                </p>
            {% endif %}
        </div>
        <section class="registration">
            <h2>Sign up</h2>
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">username</label>
                    <div class="input-group">
                       <input type="text" name="username" id="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <div class="input-group">
                       <input type="email" name="email" id="email">
                    </div>
                </div>
                <div class="form-group phone">
                    <label for="phone">Phone Number</label>
                    <div class="input-group">
                        <img height="20px" width="20px" src="{% static 'img/united-kingdom.png' %}" alt="" >
                       <input type="tel" name="phone_number" id="phone_number">
                    </div>
                </div>
                <span class="text-xs text-center  -mb-10">
                    password should have minimum of eight(8) charaters, and not similar to the username
                </span>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                       <input type="password" name="password1" id="password1">
                    </div>
                </div>
                <div class="form-group">
                    <label for="con-password">Confirm Password</label>
                    <div class="input-group">
                       <input type="password" name="password2" id="password2">
                    </div>
                </div> 
                <div class="check-box-group">
                    <input type="checkbox" name="" id="cookies"> 
                    <label for="cookies">I accept the terms of services and privacy policy.</label>
                </div>
                <div class="check-box-group">
                    <input type="checkbox" name="" id="alert"> 
                    <label for="alert">
                        Yes, I'd like to recieve news and offers from MTP via email SMS or
                        other electronic means. Decisions to opt-out at any time.
                    </label>
                </div>
                <input type="submit"  class="btn" value="Create">
            </section>
        </main>
    </form>
    <footer class="footer">
        <span>&copy;2022</span>
        <span>cookies</span>
        <span>legal</span>
        <span>contact</span>
    </footer>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>