{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>   
    {% include 'hi_hiApp/head.html' %}
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <title>HI-hi</title>
</head>
<body>
    
    <!--Header Section-->
    {% include 'hi_hiApp/header.html' %}
    <!--Main-->
    <main class="main">
        <section class="content-section">
            <div class="container">
                <div class="content-1">
                        <a href="{% url 'send_money' %}">
                            <div class='flex justify-center'>
                                <button class="px-16 py-2 bg-purple-400 shadow-xl hover:bg-purple-600 hover:shadow-2xl hover:text-gray-50 ">send money</button>
                            </div>
                        </a>
                    <!--</form>-->
                    <div class="pot-box">
                        <p class="fade">Pot Available</p>
                        {% for details in card_details %}
                            <p>
                                {% if details.Currency == 'GH' %}
                                    &#x20B5;
                                {% elif details.Currency == 'NG' %}
                                    &#x20A6;    
                                {% else %}
                                    &#163;
                                {% endif %}
                                {{details.credict_ballance}}.00
                            </p>
                        {% endfor %}
                        {% comment %} <p>&#163;100.23</p> {% endcomment %}
                        <span>Available</span>
                    </div>
                    <div class="btn-group">
                        <a href="{% url 'add_to_pot' %}" class="btn">
                            Add money <i class='bx bxs-plus-square' ></i>
                        </a>
                        <a href="#" class="btn btn-trans">
                            Invite Friends <i class='bx bxs-user-plus' ></i>
                        </a>
                    </div>
                    
                    <div class="empty-box">
                        <i class='bx bx-download' ></i> <span>Download Statement</span>
                    </div>
                </div>
                <div class="content-2">
                    <div class="circle-3">
                        <div class="circle-container ">
                            <div class="shadow-2xl circle"><i class='bx bx-receipt' ></i></div>
                            <p>Issue Voucher</p>
                        </div>
                        <div class="circle-container ">
                            <div class="shadow-2xl circle"><i class='bx bxs-briefcase-alt-2' ></i></div>
                            <p>Create pot</p>
                        </div>
                        <div class="circle-container ">
                            <div class="shadow-2xl circle"><i class='bx bxs-credit-card-front' ></i></div>
                            <p>Pay Utility</p>
                        </div>
                    </div>

                    <div class="circle-4">
                        <h4>Send again</h4>
                        <div class="circle-4-container">
                            <div class="circle-container ">
                                <div class="shadow-2xl circle one"><i class='bx bx-user-circle' ></i></div>
                                <p class="text">Linda</p>
                            </div>
                            <div class="circle-container ">
                                <div class="shadow-2xl circle two"><i class='bx bxs-user-pin' ></i></div>
                                <p class="text">Nana</p>
                            </div>
                            <div class="circle-container ">
                                <div class="shadow-2xl circle three"><i class='bx bxs-user'></i></div>
                                <p class="text">Emeka</p>
                            </div>
                            <div class="circle-container ">
                                <div class="shadow-2xl circle four "><i class='bx bxs-user-rectangle' ></i></div>
                                <p class="text">Temi</p>
                            </div>
                        </div>
                    </div>

                    <div class="recent-activity">
                        <div class="transaction">
                            <div class="activity-item">
                                <p>Recent Activity</p>
                            </div>
                            <div class="activity-item">
                                <p>Hide</p>
                            </div>
                        </div>
                        {% for history in transaction_history %}
                            <div class="transaction">
                                <div class="activity-item">
                                    <p>{{history.user}}</p>
                                    <span>sent</span>
                                </div>
                                <div class="activity-item">
                                    <p>
                                    {% if history.Currency == 'GH' %}
                                        &#x20B5;
                                    {% elif history.Currency == 'NG' %}
                                        &#x20A6;    
                                    {% else %}
                                        &#163;
                                    {% endif %}
                                        {{history.amount}}.00
                                    </p>
                                    <span>{{history.transaction_date}}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <ul class="footer-group">
            <li class="footer-item">
                contact us
            </li>
             <li class="footer-item">
                feedback
            </li>
             <li class="footer-item">
                security
            </li>
        </ul>
        <span class="copy" >&copy;2022 All Rights Reserved</span>
    </footer>

    <script src="js/dashboard.js"></script>
</body>
</html>