{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'hi_hiApp/head.html' %}
    <title>HI-hi</title>
</head>
<body>
    
    <!--Header Section-->
    {% include 'hi_hiApp/header.html' %}
    <!--Main-->

    <main class="main">
        <section class="call-to-action">
            <div class="btn-group">
                <a href="{% url 'signup' %}" class="btn">sign up</a>
                <a href="{% url 'login' %}" class="btn btn-trans">log in</a>
            </div>
            <p class="text">send money securely</p>
        </section>
        <section class="benefit">
            <ul class="benefit-group">
                <li class="benefit-item">Send money from the UK to Ghana and Nigeria</li>
                <li class="benefit-item">Good rate with no charges</li>
                <li class="benefit-item">Easy to use 24hour customer support</li>
                <li class="benefit-item">Fast, reliable and secure way of sending money</li>
                <li class="benefit-item">ANYTIME, ANYWHERE, ANYDAY!</li>
            </ul>
        </section>
    </main>

    <footer class="footer">
        <span>&copy;2022</span>
    </footer>

    <script src="js/dashboard.js"></script>
</body>
</html>